
@{
    ViewBag.Title = "Validacion de Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Completed!</h2>

<p>Congratulations! You have been successfully registered. </p>
<p>Please go to your personal account to validate your email</p>

@Html.ActionLink("Go to Login", "Login", null, new { @class = "btn btn-default" })