
@{
    ViewBag.Title = "Error de Validacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Algo anduvo mal... </h2>

<p>Tu cuenta no ha podido ser validada. Por favor, prueba nuevamente o contacta con soporte.</p>

@Html.ActionLink("Ir al Login", "Login", null, new { @class = "btn btn-default" })